
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">Pages</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <div class="navbar-text pull-left hidden-md hidden-lg hidden-sm">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updatePage(page)">
                    <span class="glyphicon glyphicon-ok"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Edit Page</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs border">
            <ul class="list-group">
                <li ng-repeat="page in model.pages" class="list-group-item">
                    <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <form>
                <div class="form-group">
                    <label for="name">Page Name</label>
                    <input ng-model="page.name" type="input" class="form-control" id="name" placeholder="Name" ng-init="page.name=model.page.name">
                </div>
                <div class="form-group">
                    <label for="description">Page Description</label>
                    <textarea ng-model="page.description" class="form-control" rows="3" id="description" placeholder="Description" ng-init="page.description=model.page.description"></textarea>
                </div>
            </form>
            <a ng-click="model.deletePage()" class="btn btn-danger  btn-block">Delete</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>