<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/main" id="logo" class="navbar-brand">GoPlaces</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user "><h4>Home</h4></a></li>
                <li><a ng-click="model.logout()"><h4>Logout</h4></a></li>
                <li><a ng-click="model.unregister()"><h4>Delete Account</h4></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="editProfilePage">
    <h2>Edit Profile</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="thumbnail">
                <img id="searchImage" ng-src="{{model.user.displayPicture}}" class="img-rounded">
                <form action="/api/project/uploads" method="post" enctype="multipart/form-data">
                    <input required name="myImgFile" type="file" class="form-control"
                           placeholder="Add a display picture"/>
                    <input name="userId" value="{{model.user._id}}" style="display: none"/>
                    <button type="submit" class="btn btn-block btn-primary">Upload & Save Image</button>
                </form>
                <button ng-click="model.deleteImage()" class="btn btn-block btn-danger">Delete Image</button>
                <div ng-show="model.imgDeleteError"
                     class="errorAlert alert alert-danger"
                     role="alert"><strong>Error !!</strong> {{model.imgDeleteError}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">

            <form>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input ng-model="model.user.firstName"
                           type="text"
                           required
                           name="firstName"
                           id="firstName"
                           class="form-control input-sm"
                           placeholder="*First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input ng-model="model.user.lastName"
                           type="text"
                           name="lastName"
                           id="lastName"
                           class="form-control input-sm"
                           required placeholder="*Last Name">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model="model.user.username"
                           type="text"
                           name="username"
                           id="username"
                           class="form-control input-sm"
                           required placeholder="*Username">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input ng-model="model.user.email"
                           type="email"
                           name="email"
                           id="email"
                           class="form-control input-sm"
                           required placeholder="*Email Address">
                </div>
                <button type="submit"
                        ng-click="model.updateUser()"
                        class="btn btn-success pull-right">Save
                </button>
            </form>
        </div>
    </div>
</div>