<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div ng-click="model.updateUser(user)" class="navbar-text pull-right">
            <a>
                <span class="glyphicon glyphicon-ok"></span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/profile">Profile</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="user.username" type="text" class="form-control" id="username"
                   ng-init="user.username=model.user.username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="user.email" type="email" class="form-control" id="email" placeholder="alice@wonderland.com"
                   ng-init="user.email=model.user.email">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice"
                   ng-init="user.firstName=model.user.firstName">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland"
                   ng-init="user.lastName=model.user.lastName">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile">
                <span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
