input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
}

.mobileNav {
    position: absolute;
    right: 5%;
}

.background_blue
{
    background-color: dodgerblue;
}

.textcolor-white
{
    color:white;
}